<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ConnectSDK" type="Ingenico.Connect.Sdk.CommunicatorConfigurationSection, connect-sdk-dotnet" />
	</configSections>
	<ConnectSDK connectTimeout="-1" socketTimeout="-1" authorizationType="v1HMAC" integrator="Ingenico">
		<apiEndpoint host="eu.sandbox.api-ingenico.com" />
	</ConnectSDK>
</configuration>
